# Python Crash Course



This notebook will just go through the basic topics in order:

* Data types
    * Numbers
    * Strings
    * Printing
    * Lists
    * Dictionaries
    * Booleans
    * Tuples 
    * Sets
* Comparison Operators
* if,elif, else Statements
* for Loops
* while Loops
* range()
* list comprehension
* functions
* lambda expressions
* map and filter
* methods
____

## Data types

### Numbers

In [1]:
1 + 1

C:\Python\lib\site-packages\ipykernel\parentpoller.py:116: UserWarning: Parent poll failed.  If the frontend dies,
                the kernel may be left running.  Please let us know
                about your system (bitness, Python, etc.) at
                ipython-dev@scipy.org
  ipython-dev@scipy.org""")

2

In [ ]:
1 * 3

In [ ]:
1 / 2

In [2]:
2 ** 4 #2 to the power of 4

16

In [ ]:
4 % 2

In [ ]:
5 % 2

In [ ]:
(2 + 3) * (5 + 5) # 5*10

### Variable Assignment

In [ ]:
# Can not start with number or special characters
name_of_var = 2
name_of_var_again=3

print(name_of_var)
print(name_of_var_again)

In [ ]:
x = 2
y = 3
b='3'

In [ ]:
z = x + y+b
print(z)

In [ ]:
z

### Strings

In [ ]:
b='single quotes'
print(b)

In [ ]:
a="double quotes "
#print(a)

print(a+b) ## Appends two strings
print(a-b) ## Not supported

In [ ]:
" wrap lot's of other quotes"

### Printing

In [ ]:
x='hello1'
y='hello2'

num=25
name='sam'

print(x)

In [ ]:
#x=5
print(x)

In [ ]:
print("The value of x=",x,"and the value of y=",y)

In [ ]:
num = 12
name = 'Sam'
country='UAE'

In [ ]:
print("My number is: {one}, and my name is: {two} and my sister's name is also {one}".format(one=num,two=name))

In [ ]:
print('My number is: {}, and my name is: {}. Mahesh is in {}.'.format(name,num,country))

print("My number is",name,"and my name is",num,". Mahesh is in",country,".")

print("My number is: {one}, and my name is: {two}. Mahesh is in {three}".format(one=num,two=name))

In [ ]:
#Python indexing starts from 0
s="hello"
s[1]

#0=h
#1=e
#2=l
#3=l
#4=0

In [ ]:
print(s[2:]) ## start from 2nd index till the end, include second index

print(s[:3]) ## print upto 3rd index, exclude third index

print(s[:5])

In [ ]:
s[1:4] ## print from 1st index up to 4th index, exclude 4th index

In [ ]:
(s[2+1:])

s[3:]

### Lists

In [ ]:
list_a=[1,2,3]
list_a

In [ ]:
#first_list=['hi',1,[2,3]]
#first_list[3]

In [ ]:
my_list = ['a','b','c','1']
my_list

In [ ]:
my_list.append('') ## Add at the end
my_list

#0=a
#1=b
#2=c
#3=1
#4=d

In [ ]:
my_list

In [ ]:
my_list[0]

In [ ]:
my_list[1]

In [ ]:
print(my_list[1:4])
#print(my_list[1:])

In [ ]:
my_list[:1]

In [ ]:
my_list[0] = 'NEW' ## It is reassigned and replaces old value

In [ ]:
my_list

In [3]:
nest = [1,2,3,[4,5,['target','target again']]] ## Nested list
nest

[1, 2, 3, [4, 5, ['target', 'target again']]]

In [ ]:
nest[3]

In [4]:
nest[3][2]

['target', 'target again']

In [ ]:
nest[3][2][1] ## 3rd element of outer list and 2nd element of inner list

In [ ]:
nest[3][2][1][7]

In [ ]:
nest[3][2][1]

nest[3][2][0]

# Dictionaries behave as Key-value pairs like Hashtable, They dont maintain any order

In [ ]:
itemd = {'key1':1,'key1':'item2'}

In [ ]:
itemd

In [ ]:
itemd = {'key1':2,'key2':'item2'}

In [ ]:
itemd['key1']

In [ ]:
itemd={'k1':[1,2,3],'key2':'item2'}
itemd

In [ ]:
#print(itemd['key2'])
#print(itemd['k1'])

a=25
itemd={'k1':[1,2,3],'key2':a}
print(itemd)

In [ ]:
## Grabbing a dictionary within a list
myListfirst=itemd['k1']
print(myListfirst)

In [ ]:
myList=itemd['k1'][0] ## first item within the list
print(myList)

In [ ]:
d={'k1':{'k2':[0,1,2,3,4]}} ## Inner Dictionary
print(d['k1'])

In [ ]:
print(d['k1']['k2'])

In [ ]:
print(d['k1']['k2'][2])

In [ ]:
#print(d['k1'][1])

### Booleans

In [ ]:
True

In [ ]:
False

### Tuples : cant change, they are immutable

In [2]:
t = (1,2,3,'hello')

In [3]:
t[3]

'hello'

In [ ]:
t[0] = 'NEW' ## Reassignment is not allowed in tuples

### Sets : Collection of Unique elements; can contain heterogenous values

In [ ]:
{1,2,3}

In [ ]:
s=set([1,2,3,10,3.0,3.0,4,5,5,5,5,5,6,6,6,6])
print(s)

In [ ]:
s=set([1,2,3,10,3.0,3.0,4,5,5,5,5,5,6,6,6,'hello'])

In [ ]:
s[3]

In [ ]:
s.add(7)
s

In [ ]:
#s[3]

## Comparison Operators

In [4]:
1 > 2

False

In [5]:
a=1
b=2
print(a<b)
print(a==b)

True
False

In [ ]:
1 < 2

In [ ]:
1 >= 1

In [ ]:
1 <= 4

In [6]:
1 == 1

True

In [ ]:
'hi' == 'bye'

## Logic Operators

In [7]:
(1 > 2) and (2 < 3) ## AND = All expressions have to be TRUE for the entire expression to be TRUE

False

In [ ]:
(1 > 2) or (2 < 3) ## OR = Any one expression has to be TRUE for the entire expression to be TRUE

In [ ]:
(1 == 2) or (2 == 3) or (4 == 4)

## if,elif, else Statements

In [8]:
if 1 < 2:print('Yep!')

Yep!

In [ ]:
if 1 > 2:print('yep!')

In [5]:
if 1 < 2:
    print('first')
else:
    print('last')

first

In [ ]:
if 1 > 2:
    print('first')
else:
    print('last')

In [9]:
if 1 == 2: 
    print('first')
elif 2==3:
    print('Second')
elif 3 == 4:
    print('middle')
else:
    print('Last')

Last

## for Loops

In [10]:
seq = [1,2,3,'hello']

In [11]:
for item in seq: ## for (item=seq,item <= seq.length,item+1)
    print(item)

1
2
3
hello

In [ ]:
for item in seq:
    print('Yep')

In [ ]:
for jelly in seq:
    print(jelly+5)

## while Loops

In [12]:
i = 1
while i < 5: # While this is true, keep on executing
    print("i is:",i)
    print(i+i)
    i = i+1
    print("Hi Surya!") ## This runs once the loop ends, this is not part of the loop
print("Hi Amit")
print("Hi Tejas")

i is: 1
2
Hi Surya!
i is: 2
4
Hi Surya!
i is: 3
6
Hi Surya!
i is: 4
8
Hi Surya!
Hi Amit
Hi Tejas

## range()

In [13]:
## range can not be itself iterated, you have to use for-loop
x=2
z=5
y=range(x,z)#[2:5]
print(y)

range(2, 5)

In [ ]:
for i in y: # (for i=y,i<y.length,i++)
    print(i)

In [14]:
# Created a list from the range
list_a=list(range(2,5)) #Create a list using range
list_a

[2, 3, 4]

In [15]:
list_a=range(2,5) #Create a list using range
list_a

range(2, 5)

In [ ]:
for i in list_a: # (for i=y,i<y.length,i++)
    print(i)

## list comprehension

In [7]:
x = [1,10,50,55]
out=[] ### populate this empty list

In [8]:
for item in x:
    out.append(item+2) ## 1 to the power 2, 2 to the power 2, 3 to the power 2, 4 to the power 2
print(x)
print(out)

[1, 10, 50, 55]
[3, 12, 52, 57]

In [20]:
[item+2 for item in x]

[3, 12, 52, 57]

In [ ]:
# for x in string
# return x

string = "Hello12"
[x for x in string] ## Traverse through the string

In [ ]:
string = "Hello12"
for x in string:
    print(x)

In [ ]:
# for x in string
# if x.isdigit()
# input the list with values of x

[x for x in string if x.isdigit()]

In [ ]:
out=[]
for x in string:
    if x.isdigit():
        out.append(x)
print(out)

## functions

In [22]:
## def : Keyword for function
def my_func1(a,b,c):
    print("Inside Function=",a+b+c)
    return(a+b+c)

In [23]:
def my_func2(a,b,c):
    print(a,b,c)

In [24]:
print("Outside Function1=",my_func1(50,20,10))
print("Outside function2=",my_func1(60,30,20))

Inside Function= 80
Outside Function1= 80
Inside Function= 110
Outside function2= 110

In [25]:
print("Outside function2=",my_func1(60,30,20))

Inside Function= 110
Outside function2= 110

In [11]:
a=50
b=20
c=30
d=a+b+c
print(d)

a=60
b=30
c=20
d=a+b+c
print(d)

100
110

In [ ]:
def my_func(param1='default'):
    print(param1)

In [ ]:
my_func 
my_func()

In [ ]:
my_func('new param') ## Most common way

In [ ]:
my_func(param1='new param')

In [ ]:
#my_func(param2='new param')

In [18]:
def square(x,y):
    return (x**2)+y+3
    
out = square(2,3)
print(out)

10

In [22]:
out1 = square(2,3)
out1=out1+2
print(out1)

12

## lambda expressions

In [29]:
def times2(var):
    return var*2

In [30]:
times2(3)

6

In [ ]:
lambda var: var*2 ## Anonymous function, no need to explicitly mention the return type and function name> 
                  ## This function accepts var and returns var*2

## map and filter

In [26]:
seq = [1,2,3,4,5] ## create a list

In [31]:
## Just to demonstrate
map(times2,seq) ## Pass the function and arguments, Map will create an iterator. Easy way rather than using for-loops

In [32]:
## actually you should use this notation to see the results
list(map(times2,seq)) ## Pass the function and the arguments

[2, 4, 6, 8, 10]

In [ ]:
## Using Lambda expression
#1: Create lambda expression : shorthand for functions
#2: Create a list of sequences to be passed as paramaters to the lambda expression
#3: Create a map ( It calls the lambda expression with the parameters/sequences as mentioned in #2)
#4: Assign the output of map in a list [since the input parameter is also a list]

##Traditional way
#1: Create a function
#2: same as Lambda way
#3: Create a for-loop and iterate through each value
#4: Use a list to hold the output



list(map(lambda var: var*2,seq)) # Replace the function with lambda expression

In [ ]:
## Added an if-else
list(map(lambda var: var%2==0,seq))  # Check against the condition

In [ ]:
## just to demonstrate
seq=[2,4,6,8,10]
filter(lambda item: item%2 == 0,seq)

In [ ]:
## for actual use
seq=[2,4,6,8,10]
list(filter(lambda item: item%2 == 0,seq)) ## Filters out values where the lambda statement holds true. 
                                      ## In this case, %==0 is true only for 2 and 4

## methods

In [ ]:
st = 'hello!!!! my name is Sam'

In [ ]:
st.lower()

In [ ]:
st.upper()

In [ ]:
st.split() ## Split on all the white spaces

In [ ]:
tweet = 'Go Sports! #Sports # Hi Sports# Hello Sports'

In [ ]:
list_a=tweet.split('#')
print(list_a)

In [ ]:
print(list_a[2])

In [ ]:
print(tweet.split('#')[2])
print(tweet.split('#')[3])

In [ ]:
## Dictionary: It is a combination of key-value pais
d = {'key1':'item1','key2':'item2'}

In [ ]:
d.keys()

In [ ]:
d.items()

In [ ]:
lst = [1,2,3]
print(lst)

In [ ]:
lst.pop()

In [ ]:
lst
print(lst)

In [ ]:
'x' in [1,2,3]  ## If x is present in 1,2,3

In [ ]:
'x' in ['x','y','z'] ## If x is present in x,y,z

In [ ]:
1 in [1,2,3]

In [ ]:
5 in [1,2,3]